.hero {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1 {
        color: white;
        margin-bottom: 0;
        font-size: 4rem;
        font-weight: bold;
    }
}

