.site-header {
    margin-bottom: 0 !important;
    padding-top: 1.2rem;
    background: $color-white;
    border-bottom: none;

    //logo
    .site-branding img {
        max-width: 130px;
    }

    //search
    .site-search {
        margin-top: 2rem;

        #woocommerce-product-search-field-0 {
            background: $color-orange;
            border-radius: 20px;
        }
    }
}

.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
    font-weight: bold;
    color: white;
}

.storefront-primary-navigation {
    background: #17c0eb;
}